.navbarBrandBox{
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-decoration: none;
}

.navbarBrand{
    
    text-decoration: none;
}

.topNavbar{

    display: flex;
    padding: 1rem;
    font-size: 2rem;
    z-index: 99;
    color: var(--gray-color);
    -webkit-box-shadow: 1px 2px 15px -5px #000000;
    box-shadow: 1px 2px 15px -5px #000000;
}

.navBox{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.menuBtn{

    width: 4rem;
    height: 2rem;
    border: 1px solid black;
    padding: 0.2rem;
    background-color: aliceblue;

}
.hamburgerMenu{

    font-size: 3rem;
}

.logoutNav{

    cursor: pointer;
}