.sidebar{
    
    background-color: #caebfa;
    width: 20%;
    min-height: 80%;
    font-size: 2rem;
}

.sideNavbarItem{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 2rem;
    border: 0.1rem solid black;
    background-color: #457b9d;
    color: rgb(37, 34, 34);
    -webkit-box-shadow: 0px 1px 5px 0px #000000; 
    box-shadow: 0px 1px 5px 0px #000000;
}

.sideNavbarItem:hover{

    background-color: #86c3ec;
}

.sideNavbarItemTitle{

   max-width: 85%;
}

.sideNavbarItemIcon{
    
    width: 15%;
}

.sideNavbarInnerItem{
    color: rgb(18, 58, 73);
    width: 100%;
    min-height: 3rem;
    padding-left: 1rem;
    border-bottom: solid rgb(18, 58, 73) 0.2rem;
}

.sideNavbarInnerItem:last-child{

    border-bottom: solid rgb(18, 58, 73) 0.4rem;
}

.sideNavbarInnerItem:hover{

    background-color: #12659c;
}

.sideNavbarInnerItem:hover a{

    color: white;
    background-color: #12659c;
}

.sideNavbarInnerItem a{
    color: rgb(18, 58, 73);
    text-decoration: none;
}

.activeTab{

    width: 100%;
    min-height: 3rem;
    padding-left: 1rem;
    border-bottom: solid rgb(18, 58, 73) 0.2rem;
    color: white;
    background-color: #12659c;
}

.activeA{

}

